<div>
<h2><%=@user.user_name%></h2>
<hr/>
<p><%= @user.ip_address %></p>
<%= link_to "수정", "/user/#{@user.id}/edit" %>
</div>
<p>이 유저가 작성한 글</p>
<% @user.posts.each do |post| %>
    <%= link_to post.title, "/board/#{post.id}" %> <br>
<% end %>